body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

#user-input {
    padding: 10px;
    margin-right: 10px;
}

#check-btn, #clear-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#results-div {
    margin-top: 20px;
    font-weight: bold;
}
